
/* lucas_is_a_meme
 
 /*
  * Reset.
  */
 
 html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
 pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
 
 
 
 /*
  * Basic Layout.
  */
 
  body{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-image: url('../images/subway2.jpg');
  background-size: cover;

}
 
 .clear {
   clear: both;
 }
 
 .container {
   margin: 0 auto;
   width: 960px;
 }
 
 p.instructions {
   color: #FFF;
   font-size: 18px;
   text-align: center;
   padding: 20px;
 }
 
 .your-meme {
   margin: 0 auto;
   width: 630px;
   padding-top: 50px;
 }

 .your-meme img {
   box-shadow: 0px 0px 20px #333;
 }

 .add_this_strip {
  display: block;
  margin: 0 auto;
  width:148px;
 }

 .make-button {
  background-color: rgb(52, 152, 219);
  border: none;
  box-shadow: 0 -3px 0 rgba(0,0,0,0.15) inset;
  color: #fff;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  padding: 10px 25px;
  margin: 35px auto 0px auto;
  width: 130px;
}

.make-button:hover {
  background-color: rgba(52, 152, 219, .8);
}

.make-button a {
  color: #FFF;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  text-decoration: none;
}

 footer {
  padding: 30px;
  margin: 0 auto;
  width: 100px;
}

footer img {
  width: 100px;
  
}

/*
 *Media Queries for mobile meme makers
 */

 @media (max-width: 959px) {
  .container {
    margin: 0 auto;
    width: 640px;
  }

  .left {
    float:none;
    margin: 75px auto 0px auto;
  }

  .right {
    float: none;
    margin: 30px auto;
  }
  


}
 