
/*
 * Reset.
 */

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
pre, form, fieldset, table, th, td { margin: 0; padding: 0; }



/*
 * Basic Layout.
 */

 body{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-image: url('../images/subway2.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}


.clear {
  clear: both;
}

.container {
  margin: 0 auto;
  width: 960px;
}

h1 {
  color: #3e94cf;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  padding: 20px;
}

.left img {
  box-shadow: 0px 0px 20px #333;
  width: 600px;
}

.left {
  float: left;
  width: 660px;
  margin-top: 75px;
}

.right {
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0px 0px 20px #333;
  float: right;
  height: 462px;
  margin-top: 75px;
  width: 300px;
}

input {

  padding: 3px;
  margin-left: 70px;
  width: 150px;
}

.input-line {
  padding: 20px;
}


.save-button {
  background-color: rgb(52, 152, 219);
  border: none;
  box-shadow: 0 -3px 0 rgba(0,0,0,0.15) inset;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 25px;
  margin: 0 auto;

}
.save-button:hover {
  background-color: rgba(52, 152, 219, .8);
}

.save-button a {
  color: #FFF;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  text-decoration: none;
}

footer {
  padding: 20px;
  margin: 0 auto;
  width: 100px;
}

footer img {
  width: 100px;
  
}



