
/*
 * Reset.
 */

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
pre, form, fieldset, table, th, td { margin: 0; padding: 0; }



/*
 * Basic Layout.
 */

 body{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-image: url('../images/subway2.jpg');
  background-size: cover;

}

canvas{
  width: 630px;
  height: 484px;
}

.clear {
  clear: both;
}

.container {
  margin: 0 auto;
  width: 960px;
}


/*
 * Left section.
 */

.left {
  background-image: url('../images/lucas-is-a-meme.jpg');
  float: left;
  box-shadow: 0px 0px 20px #333;
  width: 630px;
  height: 484px;
  margin-top: 75px;
  margin-right: 30px;
}
.text-line {
  font-size: 44px;
  font-weight: bold;
  line-height: 40px;
  margin-left: 56px;
  position: absolute;
  top: 0;
}

#first-line-holder.text-line{
  margin-top: 184px;
}
#second-line-holder.text-line{
  margin-top: 223px;
  text-transform: uppercase;
}
#third-line-holder.text-line{
  margin-top: 268px;
}

.grey{
  color: #888;
}

.black {
  color: #000;
  padding-top: 7px;
}

/*
 * Right section.
 */

.right {
  background-color: rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 20px #333;
  float: right;
  height: 485px;
  margin-top: 75px;
  width: 300px;
  position: relative;
}

.banner {
  width: 275px;
  margin: 0 auto 20px auto;
  text-indent: -9999px;
}

.banner img {
  display: block;
  width:275px;
}

input {
  padding: 5px;
  margin-left: 77px;
  width: 150px;
}

input#second-line{
  text-transform: uppercase;
}

.input-line {
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 32px 12px;
}

.input-line.one {
  background-image: url('../images/1.png');
}

.input-line.two {
  background-image: url('../images/2.png');
}

.input-line.three {
  background-image: url('../images/3.png');
}

.save-button {
  background-color: rgb(52, 152, 219);
  border: none;
  box-shadow: 0 -3px 0 rgba(0,0,0,0.15) inset;
  color: #fff;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  padding: 10px 25px;
  margin: 25px auto 10px auto;
  width: 90px;
}

.save-button:hover {
  background-color: rgba(52, 152, 219, .8);
}

.save-button a {
  color: #FFF;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  text-decoration: none;
}

.gallery-link {
  display: block;
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.gallery-link a {
  color: #2c6e9b;
  text-decoration: none;
}

.gallery-link a:hover {
  color: #3e94cf;
  text-decoration: underline;
}

footer {
  padding: 30px;
  margin: 0 auto;
  width: 100px;
}

footer img {
  width: 100px;
  
}

/*
 * Popup Styles
 */

#popup_holder{
  background: #3e94cf;
  width: 630px;
  height: 550px;
  padding: 20px;
}

 p.instructions {
   color: #FFF;
   font-size: 18px;
   text-align: center;
   padding: 20px;
 }

.add_this_strip {
  display: block;
  margin: 0 auto;
  width:148px;
 }

 #popup_holder img {
   box-shadow: 0px 0px 10px #333;
 }

/*
 * Gallery styles
 */

ul.gallery-list{
  margin-top: 30px;
}

.gallery-list li {
  display: inline-block;
  padding: 8px;
}

.gallery-list li img {
  box-shadow: 0px 0px 10px #333;
  width: 300px;
}

.back-button {
  background-color: rgb(52, 152, 219);
  border: none;
  box-shadow: 0 -3px 0 rgba(0,0,0,0.15) inset;
  color: #fff;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  padding: 10px 25px;
  margin: 35px auto 0px auto;
  width: 90px;
}

.back-button:hover {
  background-color: rgba(52, 152, 219, .8);
}

.back-button a {
  color: #FFF;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  text-decoration: none;
}

/*
 *Media Queries for mobile meme makers
 */

 @media (max-width: 959px) {
  .container {
    margin: 0 auto;
    width: 640px;
  }

  .left {
    float:none;
    margin: 75px auto 0px auto;
  }

  .right {
    float: none;
    margin: 30px auto;
  }
  


}


